/*Navbar*/
nav {
  .container-fluid {
    .navbar-toggler {
      color: map-get($colors, four);
      &:focus {
        outline: none;
        @extend .btn:focus;
      }
    }

    div {
      ul {
        li {
          .nav-link {
            text-transform: uppercase;
          }
          .dropdown-menu {
            .dropdown-item:focus {
              background-color: map-get($colors, one);
            }
          }
        }
      }
    }
  }
}
