/*Section*/
section {
  .btn {
    &:focus {
      box-shadow: none;
    }
  }
  .btn-primary {
    background-color: map-get($colors,one);
    border: none;
    &:hover {
      background-color: map-get($colors,four);
    }
    &:focus {
      background-color: map-get($colors,four);
    }
  }
  .accordion {
    .accordion-item {
      background-color: map-get($colors,four);
      color: map-get($colors,three);
      .accordion-button {
        &:focus {
          @extend .btn:focus;
          background-color: map-get($colors,three);
          color: map-get($colors,two);
        }
      }
    }
  }
  form {
    .form-control {
      &:focus {
        @extend .btn:focus;
        border-color: map-get($colors,two);
      }
    }
  }
  .info-box {
    a:focus {
      text-decoration: none;
      color: map-get($colors,one);
    }

    p {
      .time {
        font-weight: bold;
      }
    }
  }
}
