@import "variables";
/*'Roboto', sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "header";
@import "nav";
@import "sections";
@import "devices";

body {
  @include reset;
}

.float {
  .float__a {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #2ab45c;
    z-index: 100;
  }
}
